sudo: required
dist: trusty
language: node_js
node_js:
  - '8.0.0'
install:
  - npm install -g truffle
  - truffle version
  - npm install -g ganache-cli
  - npm install --unsafe-perms
script:
  - npm test
before_script:
  - ganache-cli > /dev/null &
  - sleep 5
