sudo: required
dist: trusty
language: node_js
node_js:
  - '8.0.0'
install:
  - npm install -g truffle
  - truffle version
  - npm install -g ganache-cli
  - npm install
script:
  - truffle test test/!(withVestingContract.js)
  - npm run test:vesting
before_script:
  - ganache-cli > /dev/null &
  - sleep 5
